# BEGIN WordPress
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
	Options +FollowSymlinks
	RewriteRule ^index\.php$ - [L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . /index.php [L]
</IfModule>		
# END WordPress

# BEGIN Adaptive-Images
<IfModule mod_rewrite.c>

		# omiting directories from the Adaptive-Images process
		RewriteCond %{REQUEST_URI} !adaptive-images-cache
		RewriteCond %{REQUEST_URI} !wp-admin
		RewriteCond %{REQUEST_URI} !plugins
		RewriteCond %{REQUEST_URI} !themes
		RewriteCond %{REQUEST_URI} !wp-includes

		# Send any GIF, JPG, or PNG request that IS NOT stored inside one of the above directories
		# to adaptive-images.php so we can select appropriately sized versions

		RewriteRule \.(?:jpe?g|gif|png)$ adaptive-images/adaptive-images.php

</IfModule>
# END Adaptive-Images